@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <select name="PaymentType">
        <option value="0">Mail Order</option>
        <option value="1">Bank Transfer</option>
        <option value="2">Credit Card</option>
    </select>

    <button type="submit">Make Payment</button>
</form>